{{diagnostic}}
<div class="container">
    <div class="row">
        <h1>Flight Form</h1>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="airport_departure">Departure</label>
                <input type="text" class="form-control" required [(ngModel)]="model.airport_departure">
            </div>
            <div class="form-group">
                <label for="airport_arrival">Arrival</label>
                <input type="text" class="form-control" required [(ngModel)]="model.airport_arrival">
            </div>
            <div class="form-group">
                <label for="date_departure">Departure date</label>
                <input type="date" class="form-control" required [(ngModel)]="model.date_departure">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <ul *ngIf="submitted" class="collection with-header" >
            <li class="collection-header">
                <h4>Liste des vols {{model.airport_departure}} - {{model.airport_arrival}} </h4></li>
            <li class="collection-item container" *ngFor="#flight of flights">
                <flight [model]="flight" (selected)="onClickFlight(flight)" ></flight>
            </li>
        </ul>
    </div>
</div>